* {
 margin: 0;
 padding: 0;
}

.main-content {    
    flex-direction:column;
    display:flex;
    align-items:center;
    border:1px solid black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:large;
}

.choice-prompt {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;    
    width:75%;
    padding:5%;
    border:1px solid red;
    background-color:hsl(237, 90%, 85%);
    margin:1%;
}

.options-buttons {
    display:flex;
    justify-content:space-evenly;
    border:1px solid yellow;
    padding:2%;
    margin:1%;
}

.results-panel {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:75%;
    padding:5%;
    border:1px solid blue;
    margin:1%;
    margin-top:0;
}

.instructions-text {
    margin-top:0;
    text-align:center;
}

button {
    flex:0.1;
    align-self:stretch;
    font-size:75%;
    
    /* width: 25%; */
    /* height: 25%; */
}

